@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%; /* Ensure the body takes full height */
    margin: 0; /* Remove default margin */
}

/* Class for scrollable content */
.scrollable {
    height: calc(100vh - 64px); /* Example: Adjust this to account for your header height */
    overflow-y: auto; /* Allow vertical scrolling */
    overscroll-behavior: contain; /* Prevents the bouncy effect */
    -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS */
}