@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal bouncing */
    overscroll-behavior: none; /* Stops bounce on scroll */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  }
  
  * {
    box-sizing: border-box; /* Ensures consistent layout sizing */
  }
  



  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }